<div flex layout='row'>
  <md-content flex class='md-padding'>
    <form ng-submit='adicionarVariavel()' layout='column' class='form-adicionar'>
      <div layout='column' layout-gt-xs='row'>
        <md-input-container flex='20'>
          <label for='label'>Nome</label>
          <input type='text' id='label' ng-model='novaVariavel.nome'>
        </md-input-container>
        
        <md-input-container class='md-block' flex='20'>
          <label for='label'>Tipo</label>
          <md-select ng-model='novaVariavel.tipo' id='label' ng-disabled='!novaVariavel.nome'>
            <md-option ng-repeat='(chave, valor) in tipos' value='{{chave}}'>
              {{valor.nome}}
            </md-option>
          </md-select>
        </md-input-container>
          
        <md-input-container flex='50'>
          <label for='label'>Valor</label>
          <input type='text' id='label' ng-disabled='!novaVariavel.tipo' ng-model='novaVariavel.valor' ng-pattern='getPadrao(novaVariavel.tipo)'>
        </md-input-container>
        
        <md-input-container flex='10'>
          <md-button class='add-tab md-primary md-raised md-small' ng-disabled='!validar(novaVariavel.tipo, novaVariavel.valor)' type='submit' style='margin-right: 0;'>Adicionar variável</md-button>
        </md-input-container>
      </div>
    </form>
    
    <div ng-repeat='variavel in variaveis' class='bloco-variavel'>
      <div layout='column' layout-gt-xs='row'>
        <md-input-container flex='20'>
          <label for='label'>Nome</label>
          <input type='text' id='label' ng-model='variavel.nome' ng-change='salva(variavel);'>
        </md-input-container>
        
        <md-input-container class='md-block' flex='20'>
          <label for='label'>Tipo</label>
          <md-select ng-model='variavel.tipo' id='label' ng-change='salva(variavel);'>
            <md-option ng-repeat='(chave, valor) in tipos' value='{{chave}}' md-selected-text='{{chave === variavel.tipo}}'>
              {{valor.nome}}
            </md-option>
          </md-select>
        </md-input-container>
          
        <md-input-container flex='50'>
          <label for='label'>Valor</label>
          <input type='text' id='label' ng-model='variavel.valor' ng-blur='salva(variavel);' ng-pattern='getPadrao(variavel.tipo)'>
        </md-input-container>
        
        <md-container flex='5'>
          <md-button class='md-primary md-raised' ng-if='(variavel.tipo == 5) || (variavel.tipo == 6)' ng-click='ampliar($event, variavel)' style='margin-right: 0;'>Ampliar</md-button>
        </md-container>
        
        <md-container flex='5'>
          <md-button class='md-icon-button md-warn' aria-label='Excluir'>
            <md-icon md-svg-icon='assets/img/icons/delete.svg' ng-click='remove($event, variavel)'></md-icon>
          </md-button>
        </md-container>
      </div>
    </div>
  </md-content>
</div>