.conteudo {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
}

.md-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

md-input-container {
  margin-bottom: 0px;
}

md-input-container.textarea-full {
  display: block;
}

.form-adicionar {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px dashed #dfdfdf;
}

.bloco-variavel {
  border-bottom: 1px solid #dfdfdf;
}

.bloco-variavel md-input-container {
  margin-bottom: 0px;
}