<div layout='column' ng-cloak>
  <md-tabs md-dynamic-height md-selected="indiceGrupoAtual">
    <md-tab ng-repeat='grupo in grupos' label='{{grupo.nome}}'>
      <grupo nome='{{grupo.$id}}'></grupo>
    </md-tab>
  </md-tabs>
  
  <form ng-submit='adicionarGrupo(novoGrupo)' layout='column' class='md-padding' style='padding-top: 0;'>
    <div layout='row' layout-sm='column'>
      <md-input-container>
        <label for='label'>Nome do grupo</label>
        <input type='text' id='label' ng-model='novoGrupo'>
      </md-input-container>
      <md-button class='md-primary md-raised' ng-disabled='!novoGrupo' type='submit' style='margin-right: 0;'>Adicionar grupo</md-button>
      <md-button class='md-warn md-raised' ng-show='(grupos.length > 0)' ng-click='remove($evento)' style='margin-right: 0;'>Remover grupo</md-button>
    </div>
  </form>
</div>